@using EPiServer.Shell
@using EPiServer.Shell.Navigation
@using EPiServer.Framework.Web.Resources
@inject IClientResourceService resourceService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @ClientResources.RenderResources("admin")
</head>
<body class="Sleek">
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation()>
        @RenderBody()
    </div>

    <script>
        require(["dojo/parser", "dojo/ready"], function (parser, ready) {
            ready(function () {
                parser.parse();
            });
        });
    </script>
</body>
</html>
